<!DOCTYPE html>
<html>
<head>
    <title>Spring WebSockets Demo Application</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link data-th-href="@{/css/main.css}" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script data-th-src="@{/js/app.js}"></script>
</head>
<body>

<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! WebSocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!
    </h2>
</noscript>

<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 id="nameTag" data-th-text="${name+' says:'}"></h2>
            <h1 id="headerTag" data-th-text="${header}"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button id="rcBtn" class="btn btn-info">
                Reconnect
            </button>
        </div>
    </div>
</div>
</body>
</html>